header{
    display: flex;
    background-color: orchid;

}

header h2{
    color: red;
    background-color: yellow;
}

header h3{
    display: none;
}
.gridcontainer{
    display: grid;
    grid-template-columns:30% 65%;
    grid-template-rows: fit-content(100%) fit-content(100%) fit-content(100%);
    
}
.containerL{
    justify-content: left;
    margin: 10px;
    flex: 1 1 ;
    border: 5px solid black;
    background-color: gray;

}

.containerL-1{
    min-width: 50px;
    min-height: 100px;

}
.containerL-2{
    min-width: 50px;
    min-height: 100px;
}
.containerL-3{
    min-width: 50px;
    min-height: 100px;
}
.containerR{
    justify-content: right;
    margin: 10px;
    border:5px solid orange;
    background-color: gray;
}
.containerR-1{
    min-width: 50px;
    min-height: 100px;
}
.containerR-2{
    min-width: 50px;
    min-height: 100px;
}
.containerR-3{
    min-width: 50px;
    min-height: 100px;
}

footer{
    display: flex;
    background-color: orchid;

}

footer h4{
    color: brown;
    background-color: green;

}
@media (max-width:750px){
    header h2{
    display:none;}
    header h3{
    display: flex;
    background-color: green;
    color: brown;
    }
    
    .containerL{
        display: none;
    }
    .containerR-1{
        width: 100%;
        min-height: 100px;
    }
    .containerR-2{
        width: 100%;
        min-height: 100px;
    }
    .containerR-3{
        width: 100%;
        min-height: 100px;
    }


}
    
